/* Dark Mode */
body.light-mode {
    color: #000;
    background-color: whitesmoke;
}

body.light-mode a,
body.light-mode h1 {
    color: #000;
}

body.light-mode #athletes h2 {
    background-color: whitesmoke;
}

body.light-mode .navbar #nav-links li a {
    background-color: blue;
    color: white;
}

body.light-mode .skip_to_content {
    color: white;
}

body.light-mode .navbar {
    box-shadow: 0 0 4vw rgba(0, 0, 0, 0.5);
}

body.light-mode .athlete_table_box,
body.light-mode .table_container {
    background-color: white;
}

body.light-mode tbody tr:nth-child(odd) .athlete_table_box {
    background-color: rgba(0, 0, 0, 0.05);
}

body.light-mode tbody tr:nth-child(even) .athlete_table_box {
    background-color: rgba(0, 0, 0, 0.1);
}

body.light-mode th {
    background-color: white;
}

body.light-mode .main_box #comment_box {
    background-color: rgba(52, 49, 49, 0.1);
}

body.light-mode #athlete_personal tr:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.1);
}

body.light-mode #athlete_personal tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.02);
}

body.high-contrast #season_box th,
body.high-contrast #season_box td {
    border: 1px solid black;
    padding: 8px;
}
